html {
	padding-left: 300px;
}
body {
	background-color: #F5F5F5;
        padding-left: 200px;
	padding-right: 500px;
	border: 2px solid #7CFC00;
	width: 500px;
	height: 1000px;
	background-position: center;
}
