/*Modal*/
.modal {
    //display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: white; 


    -webkit-animation-name: modal; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */

    animation-name: modal;
    animation-duration: 4s;
    animation-fill-mode: forwards;   

}

/* Modal Content/Box */
.modal-content {
    background-color: #B6A0D2;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 15px;
    width: 100%; /* Could be more or less, depending on screen size */
    color: white;
    font-family: "Novecento Sans Wide", sans-serif;
    font-size: 300%;
    text-align: center;
}   

/* The Modal (background) */
@-webkit-keyframes modal {
    0% {
        display: block;
        opacity: 1;
    }
    50% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes modal {
    0% {
        display: block;
        opacity: 1;
    }
    50% {
        display: none;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

/*General CSS*/
html {
    /*padding-left: 300px;*/
    background-color: #98FB98;   
}
body {
    width: 60%;
    margin: auto;
}

td {
    color: #775555;
}

.signoutlink {
    color: white;
    text-decoration: none;
    background-color: #B6A0D2;
    padding: 14px 25px;
    text-align: center; 
    display: inline-block;
}

.content {
    margin-top: 200px;
    margin-bottom: 100px;       
    z-index: 1;
    height: 100%;
    background-color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 0;
    background-position: center;
    border-radius: 25px;
    margin: 0;
    font-family: arial, sans-serif;
    color: #775555;
}

.banner {
    width: 65%;
    height: 75%;
}

.smallbutton {
    background-color: #B6A0D2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    cursor: pointer;
}

.button {
    background-color: #B6A0D2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.search {
    height: 43px;
    font-size:150%;
}

.calories {
    float: left;
    margin: auto;
    width: 15%;
    text-align: right;
}

span form {
    display: inline;
}

/*recipe_search specific*/
.recipe-hit {
    border-bottom-color: #775555;
    border-bottom-style: solid;
    border-bottom-width: medium;
}

.recipe-header {
    border-bottom-color: #775555;
    border-bottom-style: solid;
    border-bottom-width: medium;
}

.recipe-label {
    float: left;
    margin: auto;
    width: 85%;
}

/*App Store */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #B6A0D2;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

