/*General CSS*/
html {
    padding-left: 100px;
    background-color: #98FB98;   
}
body {
    width: 1500px;
    height: 1100px;
    margin: auto;
    padding-left: 25px;
}

.content {
    margin-top: 200px;
    margin-bottom: 100px;       
    z-index: 1;
    height: 1000px;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 0;
    background-position: center;
    border-radius: 25px;
    margin: 0;
    font-family: arial, sans-serif;
    color: #775555;
    font-size: 20px;
}

/*App Store */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #B6A0D2;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

img {
    height: 40%;
    width: 100%;
}

.italicized {
    font-style: italic;
}

.future_additions {
    font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    //height: 100px;
    //width: 70%;
    //margin: auto;
    background-position: center;
}
